<div class="container"> 
  <div class="row header element"> 
    Data Explorer 
  </div>
  <div class="row main-area">
    <div class="col-3"> 
      <div class="row element group">
        <div class="group-container">
          <selector> </selector>
         </div> 
      </div>
    </div> 
    
    <div class="col-9"> 
      <div class="row element group">
        <div class="group-container ">
          <mapcomponent></mapcomponent>
         </div> 
      </div>
    </div>
    
  </div>
</div> 