form {
  text-align: left;
}

label {
  width: 120px;
  font-size: .8rem;
  color: #555;
}

select {
  width: 220px; 
  display: block;
  font-size: 0.8rem;
}

.input {
  margin-top: 10px;
  font-size: 0.8rem;
}

.button-area {
  margin-top: 20px;
  font-size: 0.8rem;
}