<div class="container"> 
  <div class="row header element"> 
    Is this a drought year in California? 
  </div>
  <div class="row">
    <div class="col-6 group" style="padding-right: 3px">
      <div class="group-container">
        <div class="row">
          <div class="col-12 element title-metricvalues"> 
            Year-To-Date Drought Index Totals
          </div> 
        </div> 
        <div class="row metricvalues "> 
          <div class="col-4 element left-col">
            <div class="value">44</div>
            <div class="text"> Current </div> 
          </div>

          <div class="col-4 element left-col">
            <div class="value">60</div>
            <div class="text"> vs Prev. Year </div> 
          </div>
          <div class="col-4 element change">
            <div class="value">-24</div>
            <div class="text"> % change </div> 
          </div>
        </div> 
      </div> 
    </div> 

    <div class="col-6 group" style="padding-left:3px">
      <div class="group-container ">
        <div class="row ">

          <div class="col-12 element title-metricvalues"> 
            Year-To-Date Precipitation Totals
          </div> 
        </div> 
        <div class="row metricvalues"> 
          <div class="col-4 element left-col">
            <div class="value">91</div>
            <div class="text"> Current </div> 
          </div>
          <div class="col-4 element left-col">
            <div class="value">72</div>
            <div class="text"> vs Prev. Year </div> 
          </div>
          <div class="col-4 element change">
            <div class="value">+28</div>
            <div class="text"> % change </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row main-content">
    <div class="sidebar left-bar">
      <div class="row element group">
        <div class="group-container">
          <div class="title"> 
            Drought Hot Spots
            <droughthotspots> </droughthotspots> 
          </div> 
        </div>
      </div> 
      <div class="row element group">
        <div class="group-container">
          <div class="title"> 
            Cumulative Precipitation
            <droughthotspots> </droughthotspots> 
          </div> 
        </div>
      </div> 
    </div> 
    <div class="series element group" style="padding-left:6px; padding-right: 6px;display: inline-block">
      <div class="group-container">
        <div class="title"> 
          This Year's 
        </div> 
        <div style="height: 352px"> 
          <div id="mainseries_chart">
            <mainseries useid="mainseries_chart" style="width: 100%"></mainseries>
          </div>
        </div> 
      </div>
    </div>

    <div class="sidebar right-bar">
      <div class="row element group">
        <div class="group-container">
          <div class="title"> 
            Cumulative Precipitation
          </div>
          <div style="width:100%"> 
            <div id="mdi_01">
              <monthlydryindex useid="mdi_01"></monthlydryindex>
            </div>
          </div> 
        </div>

      </div> 
      <div class="row element group">
        <div class="group-container">
          <div class="title"> 
            Cumulative Precipitation
          </div> 
          <div style="width:100%">
            <div id="mdi_02">
              <monthlydryindex useid="mdi_02" style="width: 100%"></monthlydryindex>
            </div>
          </div> 
        </div>
      </div> 
    </div>

  </div> 

  <div class="row summaries">
    <div class="col-4 element group" style="padding-right: 3px">
      <div class="group-container">
        <div class="title"> 
          Cumulative Precipitation
        </div>
        <div style="width:100%">
          <div id="bottom_01">
            <annualseries useid="bottom_01" style="width: 100%"></annualseries>
          </div>
        </div> 

      </div>
    </div> 

    <div class="col-4 element group" style="padding-right: 3px; padding-left: 3px">
      <div class="group-container">
        <div class="title"> 
          Cumulative Precipitation
        </div> 
        <div style="width:100%">
          <div id="bottom_02">
            <annualseries useid="bottom_02" style="width: 100%"></annualseries>
          </div>
        </div> 
        
      </div>
    </div>

    <div class="col-4 element group" style="padding-left: 3px">
      <div class="group-container">
        <div class="title"> 
          Cumulative Precipitation
        </div> 
        <div style="width:100%">
          <div id="bottom_03">
            <annualseries useid="bottom_03" style="width: 100%"></annualseries>
          </div>
        </div> 
        
      </div>
    </div>
  </div> 
</div> 