<div class="page">
  <section class="banner-sec">
    <div class="container">
      <div class="row" >
        <div class="col-md-12 top-slider">
          <div class="card">  
            <div class="card-header"> 
              <div class="card-title"> 
                Manage Projects
              </div>
            </div>
            <div class="card-body container" style="height: 530px;"> 
              <div class="row">
                <div class="col-3"> 
                  <projectslist-root></projectslist-root> 
                </div>
                <div class="col-6"> 
                  <projectsgeography-root></projectsgeography-root>
                </div>
                <div class="col-3"> 
                  <projectdatasources-root></projectdatasources-root>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>