<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:spring/spring-beans.xsd
          http://www.springframework.org/schema/mvc classpath:spring/spring-mvc.xsd       
          http://www.springframework.org/schema/util classpath:spring/spring-util.xsd       
">  
  <import resource="classpath:../auth.spring.xml"/>
  <bean id="version" class="java.lang.String" factory-method="valueOf"> 
    <constructor-arg value="1.0.0"/> 
  </bean>      
  <util:properties id="appProps" location="classpath:../app.properties"/> 
  
  
  <mvc:cors>  
    <mvc:mapping path="/**"  
                 allowed-origins="*"    
                 allowed-methods="GET,PUT"
                 allowed-headers="Authorization,app_name"
                 allow-credentials="true"
                 max-age="123" /> 
  </mvc:cors>
</beans>
