<header> 
  <div class="top-head left">
    <div class="container">
      <div class="row g-1">
        <div class="col-md-6 col-lg-4" style="user-select: none; ">
          <h1>Titans Data Source<small>Data For The People</small></h1>
        </div>
        <div class="col-md-6 col-lg-3 ml-auto admin-bar hidden-sm-down">
          <nav class="nav nav-inline" style="display: inline-flex;"> 
            <a href="#" class="nav-link">
              <span class="ping"></span>
              <i class="fa fa-envelope-o">    
              </i>
            </a>
            <a href="#" class="nav-link">
              <i class="fa fa-bell-o"></i>
            </a> 
            <a class="nav-link"> 
              <span class="ping"></span>
              <i style="cursor: pointer" class="fa far fa-user" (click)="logout($event)"></i>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>