<div class="card">  
  <div class="card-header"> 
    <div class="card-title"> 
      {{title}} 
    </div>
  </div>
  <div class="card-body" style="height:320px"> 
    <div *ngFor="let g of rastersgroup" class="card-title" >
      <div id="el_{{g.id}}" class="grouptreenode node" (click)="onClickedForSelection($event, g.name)">
        <span class="level01 treenode" (click)="onClicked($event, g.name);" 
              data-visible=false>+</span>  
        <span class="name">{{g.name}} ({{g.size()}})</span>
      </div>
    </div>  
  </div>
  <div class="card-footer"> 
  </div>
</div> 