<div style="page">
  <section class="banner-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-3 top-slider">
          <datasourcelist title="Data Sources"></datasourcelist>
        </div>
        <div class="col-md-6 top-slider">
          <div class="card">  
            <div class="card-header"> 
              <roiquerybar></roiquerybar>
            </div>
            <div class="card-body" id="map-parent" style="height:320px"> 
              <map> </map>
            </div>
            <div class="card-footer"> 
            </div>
          </div>
        </div>
        <div class="col-md-3 top-slider">
          <properties></properties> 
        </div>
      </div>
    </div> 
  </section>

  <section class="banner-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-3 top-slider">
          <div class="card">  
            <div class="card-header"> 
              <div class="card-title"> 
                Time Series 
              </div>
            </div>
            <div class="card-body" style="height: 230px;"> 
              <pointsplotlegend></pointsplotlegend>
            </div>
            <div class="card-footer">   

            </div>
          </div>
        </div>

        <div class="col-md-9 top-slider">
          <div class="card" >  
            <div class="card-header"> 
              <div class="card-title"> 
                Overview 
              </div>
            </div>
            <div class="card-body" style="height: 230px;"> 
              <rasterseriesplots></rasterseriesplots>
            </div>
            <div class="card-footer"> 

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>