.dataset > .description{
  overflow-y: auto;
  height: auto;
}
.dataset > .text {
  overflow-y: auto;  
  height: auto;
  font-weight: bold;  
}

.api-section {
  line-height: 20px;
  margin-top: 20px;  
  margin-bottom: 20px; 
  min-height: 120px;
  border: 1px solid lightgray;
  padding: 5px; 
  background-color: #fdfdfd;   
}

.api-item-section {
  margin: 10px 0px;
}

.apiitemslist {
  padding: 0;
}